# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = '../../ADA2017-Tutorials/02 - Intro to Pandas/Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

In [2]:
#all imports
import pandas as pd
import glob

/Users/thibautchamard/anaconda/lib/python3.6/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [ ]:
# Write your answer here

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [4]:
def merge_xls_files(regex):
    all_data = pd.DataFrame()
    list_ = glob.glob(regex)
    for f in list_:
        df = pd.read_excel(f,names = ["MICROBIOME", "DATA"])
        # added the origin. It will be usefull to add the metadata from the 10th spreadsheet
        df['BARCODE']=f.split('/')[-1].split('.')[0]
        all_data = all_data.append(df)
    return all_data

We import the 9 MID files

In [5]:
mid = merge_xls_files(DATA_FOLDER+'/microbiome/MID*.xls')
mid.head(10)

                                          MICROBIOME  DATA BARCODE
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...     2    MID1
1  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...     3    MID1
2  Archaea "Crenarchaeota" Thermoprotei Thermopro...     3    MID1
3  Archaea "Euryarchaeota" "Methanomicrobia" Meth...     7    MID1
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...     1    MID1
5  Archaea "Euryarchaeota" "Methanomicrobia" Meth...     1    MID1
6  Archaea "Euryarchaeota" Archaeoglobi Archaeogl...     1    MID1
7  Archaea "Euryarchaeota" Archaeoglobi Archaeogl...     1    MID1
8  Archaea "Euryarchaeota" Halobacteria Halobacte...     1    MID1
9  Archaea "Euryarchaeota" Halobacteria Halobacte...     4    MID1

We import the metadata and fill the NaN values with unknown

In [8]:
metadata = pd.read_excel(DATA_FOLDER+'/microbiome/metadata.xls')
metadata = metadata.fillna('unknown')
metadata.head(10)

  BARCODE               GROUP   SAMPLE
0    MID1  EXTRACTION CONTROL  unknown
1    MID2               NEC 1   tissue
2    MID3           Control 1   tissue
3    MID4               NEC 2   tissue
4    MID5           Control 2   tissue
5    MID6               NEC 1    stool
6    MID7           Control 1    stool
7    MID8               NEC 2    stool
8    MID9           Control 2    stool

We merge the 2 datasets on the BARCODE

In [15]:
df = pd.DataFrame()
df = pd.merge(mid, metadata,on='BARCODE')
df.head(10)

,MICROBIOME,DATA,BARCODE,GROUP,SAMPLE
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2,MID1,EXTRACTION CONTROL,unknown
1,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3,MID1,EXTRACTION CONTROL,unknown
2,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3,MID1,EXTRACTION CONTROL,unknown
3,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7,MID1,EXTRACTION CONTROL,unknown
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",1,MID1,EXTRACTION CONTROL,unknown
5,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",1,MID1,EXTRACTION CONTROL,unknown
6,"Archaea ""Euryarchaeota"" Archaeoglobi Archaeogl...",1,MID1,EXTRACTION CONTROL,unknown
7,"Archaea ""Euryarchaeota"" Archaeoglobi Archaeogl...",1,MID1,EXTRACTION CONTROL,unknown
8,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",1,MID1,EXTRACTION CONTROL,unknown
9,"Archaea ""Euryarchaeota"" Halobacteria Halobacte...",4,MID1,EXTRACTION CONTROL,unknown

Then we drop the BARCODE colunm because it is not usefull anymore

In [16]:
df = df.drop('BARCODE', 1)

We pivot the table to have MICROBIOME in index and have the GROUP and SAMPLE in colunm. We also replace all the NaN values by the tag unknown.

In [17]:
df = df.pivot_table('DATA','MICROBIOME',['GROUP','SAMPLE'],fill_value='unnkown')
df.head(10)

GROUP                                              Control 1           \
SAMPLE                                                 stool   tissue
MICROBIOME
Archaea "Crenarchaeota" Thermoprotei Acidilobal...   unnkown       15
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         8       14
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         2        4
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         1        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         1        3
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         1  unnkown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...         5        4

GROUP                                              Control 2           \
SAMPLE                                                 stool   tissue
MICROBIOME
Archaea "Crenarchaeota" Thermoprotei Acidilobal...   unnkown       26
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        16       28
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         2        5
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown        2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...         5        2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   unnkown        3
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...         6       14

GROUP                                              EXTRACTION CONTROL  \
SAMPLE                                                        unknown
MICROBIOME
Archaea "Crenarchaeota" Thermoprotei Acidilobal...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...            unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...                  2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...                  3

GROUP                                                 NEC 1             NEC 2  \
SAMPLE                                                stool   tissue    stool
MICROBIOME
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unnkown       14  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown       23  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown  unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        1        1  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown  unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown        2  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown        1  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        1  unnkown  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        2        2  unnkown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...        5       10  unnkown

GROUP
SAMPLE                                               tissue
MICROBIOME
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unnkown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unnkown

Now we check if the index is unique

In [18]:
df.index.is_unique

True

Alri

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here